.containerTopo {
  background: #1b1a20;
  display: flex;
  margin-left: -10px;
  margin-top: -10px;
  margin-right: -10px;
  flex-direction: column;
}
.topoContato {
  display: flex;
  margin-left: 2%;
  flex-direction: row;
  color: white;
  font-family: "Segoe UI";
}
.boxImagem {
  flex: 1;
  margin-top: 10px;
  height: 40px;
  width: 150px;
  margin-right: 10%;
}
.boxTopoVazio {
  margin-right: 30%;
}
.box1Topo {
  flex: 7%;
  padding: 15px;
  margin-top: 0px;
  font-size: 11px;
  text-align: center;
}
.box1Topo:hover {
  background: #010103;
}
.box2Topo {
  padding: 17px;
  flex: 1;
  margin-top: 0px;
  margin-left: -5px;
  font-size: 11px;
}
.box2Topo:hover {
  background: #010103;
}
.box3Topo {
  margin-top: 0;
  text-align: center;
  padding: 15px;
}
.box3Topo:hover {
  background: #0379cd;
  color: white;
}
.box4Topo {
  flex: 1;
  margin-top: 0px;
  padding: 15px;
}
.box4Topo:hover {
  background: #0379cd;

  color: white;
}
.box5Topo {
  flex: 1;
  margin-top: 0px;
  padding: 15px;
}
.box5Topo:hover {
  background: #010103;
}
.textoTopo {
  font-family: "Segoe UI", sans-serif;
  text-decoration: none;
  color: #9f9ea3;
  list-style-type: none;
}
.menuTopo {
  background: #1b1a20;
  display: flex;
  flex-wrap: nowrap;
  margin-top: -16px;
  margin-left: 2%;
}
.menuTopo > div:hover {
  background: #010103;
  color: #ffffff;
}

.contaGratuita {
  margin-right: 5%;
  background: #1b1a20;
  color: #ade424;

  margin-left: 40px;
}
.contaGratuita:hover {
  background: #1b1a20;
  color: #8ec723;
}

.menuTopo > div {
  flex: 1;
  width: 170px;

  text-align: center;
  line-height: 50px;
  font-size: 15;
  margin-top: 15;
}

.boxLink11 {
  flex: 11;
  padding: 5px;
  color: #404c21;
}
.boxLink11:hover {
  color: #8ec723;
}

.containerCentro {
  display: flex;
  margin-top: -16px;
  margin-right: -10px;
  margin-left: -10px;
  padding-left: 10%;
  height: 350px;
  line-height: 20px;
  padding-top: 100px;
  background: #333238;
  flex-direction: column;
  align-items: inherit;
}
.containerCentro > img {
  align-self: flex-end;
  margin-top: -225px;
  margin-right: 8%;
}

.containerLinks {
  width: 90%;
  display: flex;
  flex-direction: row;
  background: #ffffff;
  padding: 5%;
}
.containerLinks > div {
  padding: 15px;
  align-self: center;

  text-align: center;
}
.containerLinks > img {
  position: relative;
}

.containerMapa {
  display: flex;
  text-align: center;
  font-family: "Segoe UI";
  flex-direction: column;
  background: #2b3862;
  margin-left: -10px;
  margin-right: -10px;
}
.imagemMapa {
  flex: 1;
  height: 500px;
  align-content: center;
  margin-right: 10%;
}
.botaoMapa {
  width: 30%;
  line-height: 42px;
  border: solid 1px;
  font-size: 15;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 15px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}
.botaoMapa:hover {
  background: #ffffff;
  color: #3a6680;
}
/*Centro*/

.h2Centro {
  color: #ffffff;
  font-family: "Segoe UI";
  font-size: 30px;
  letter-spacing: 1px;
}
.h3Centro {
  color: #ffffff;
  font-family: "Segoe UI";
  letter-spacing: 1px;
  font-size: 15px;
}
.botaoCentro {
  width: 150px;
  font-family: "Segoe UI";
  font-weight: bold;
  height: 50px;
  background: #8bbe20;
  text-align: center;
  line-height: 45px;
  font-size: 15;
  margin-top: 15;
}
.botaoCentro:hover {
  background: #9ddd25;
}

.containerInformacoes {
  display: flex;
  margin-left: -1%;
  margin-right: -1%;
  padding: 1%;
  color: white;
  background: #0379cd;
  flex-direction: column;
}
.informacoesTitulo {
  font-family: "Segoe UI";
  font-size: 25px;
  text-align: center;
}
.informacoesDados {
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  color: white;
  padding: 2%;
  font-family: "Segoe UI";
  font-size: 20px;
  flex-direction: row;
}

.box1Informacoes {
  flex: 1;
}
.box1Informacoes > p {
  font-size: 17px;
}
.box2Informacoes {
  flex: 1;
}
.box2Informacoes > p {
  font-size: 17px;
}
.box3Informacoes {
  flex: 1;
}
.box3Informacoes > p {
  font-size: 17px;
}
